/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



.content_wrapper{
	width:1000px;
	height:auto;
	background:#000;
}
#right_content{
	width:100%;
	background:#FCC;
	float:right;
}
#left_sidebar{
	width:200px;
	float:left;
	background:#000; 
/*	border: 2px solid #FFF;*/
}

#sidebar_title{
	background: #FFF;
	color: #000;
	padding: 10px;
	font-family: "Palatino Linotype","Book Antiqua", Palatino  , serif;
	font-size:22px;


}
#catss{
    padding: 10px;
	text-align:left;
}
    #catss li{
	list-style: none;
	margin: 8px;
            }
    #catss a{
	color: #FC9;
	font-size: 20px;
	text-decoration: none;
	margin: 5px;
            }
    #catss a:hover{
    	color: #FFF;
    	text-decoration: underline;
    	font-weight: bold;
    }   
    #catss img{
    border:2px solid #FFF;
    }    
    #headline {
    	background: #000;
    	color: white;
    	line-height:35px;
    	width: 780px;
    	padding: 10px;

    } 
       #headline_content{
       	float:right;
       }


